
{% extends "rango/base.html" %}
{% block title %}Change Password{% endblock %}

{% block body_block %}
    <h2 class="form-signin-heading">Change your Password</h2>
    <form role="form" method="post" action=".">
        {% csrf_token %}
        <div class="form-group">


            <p class="required"><label class="required" for="id_old_password">
                Password:</label>
                <input class="form-control" id="id_old_password" name="old_password"
                       type="password"/>
            </p>
            <p class="required"><label class="required" for="id_new_password1">
                New password:</label>
                <input class="form-control" id="id_new_password1" name="new_password1"
                       type="password"/>
            </p>
            <p class="required">
                <label class="required" for="id_new_password2">New password confirmation:</label>
                <input class="form-control" id="id_new_password2" name="new_password2"
                       type="password"/>

                <span class="helptext">Enter the same password as before, for verification.</span>
            </p>

            {{ form.old_password.errors }}
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
            <br>
            {{form.non_field_errors}}
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
{% endblock %}
